
* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
}

.main-nav {
list-style-type: none;
display: flex;
justify-content: end;
gap: 20px;
}


hr{
margin-top: 50px;
}
              
/* mobile first: design for mobile devies/small screens first, default styles are mobile first*/

/* media query for larger screens */

@media screen and (min-width: 500px) {
    .media-card {
        display: flex;
        gap: 20px;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery .media-card {
        width: 600px;

    }

}